In [1]:
train = 'train.csv'
test = 'test.csv'

In [2]:
import pandas as pd

df = pd.read_csv(train, index_col='PassengerId')
df_test = pd.read_csv(test, index_col='PassengerId')

In [3]:
df.head(20)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [5]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 418 entries, 892 to 1309
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Name      418 non-null    object
 2   Sex       418 non-null    object
 3   Age       332 non-null    float64
 4   SibSp     418 non-null    int64
 5   Parch     418 non-null    int64
 6   Ticket    418 non-null    object
 7   Fare      417 non-null    float64
 8   Cabin     91 non-null     object
 9   Embarked  418 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 35.9+ KB

In [6]:
drop_columns = ['Ticket']
passthrough_columns=['Pclass', 'SibSp', 'Parch']
target_column = ['Survived']

text_columns_manquant = ['Cabin']  
text_columns_sans_manquant = ['Name']

numeric_columns_manquant =['Age', 'Fare']
cat_manquant = ['Embarked']
cat_sans_manquant = ['Sex']

In [7]:
X = df.drop('Survived', axis=1)
y = df['Survived']

In [8]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer 
from sklearn.pipeline import make_pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import FunctionTransformer


#pipeline pour le preprocesing des colonnes catégorielles avec des valeurs manquantes
cat_manquant_pipeline = make_pipeline(SimpleImputer(strategy='most_frequent'), OneHotEncoder(handle_unknown='ignore'))


#fonction transformer custom : preprocess de cabin
def extract_cabin_letter(df):
    return pd.DataFrame(df.str[0])

FunctionTransformer(extract_cabin_letter)

#pipeline pour le preprocesing de cabin

preprocessor_cabin = make_pipeline(
    FunctionTransformer(extract_cabin_letter),
    SimpleImputer(strategy='constant', fill_value='missing'),
    OneHotEncoder(handle_unknown='ignore')
)

#make_column_transformer: permet de faire un preprocessing spécifique pour chaque colonne
preprocessor = make_column_transformer(
    (OneHotEncoder(handle_unknown='ignore'), cat_sans_manquant),
    (cat_manquant_pipeline, cat_manquant),
    (SimpleImputer(strategy='median'), numeric_columns_manquant),
    (CountVectorizer(), 'Name'),
    (preprocessor_cabin, 'Cabin'),
    ('passthrough', passthrough_columns),
    ('drop', drop_columns),
)

In [9]:
# pipeline final

from sklearn.pipeline import Pipeline

from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import RidgeClassifier
from sklearn.neighbors import KNeighborsClassifier as KNN

from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

from sklearn.model_selection import GridSearchCV

In [17]:
#KNN

#grid search pour trouver les meilleurs hyperparamètres

knn = {}

knn['pipeline'] = Pipeline([
    ('prepocessing', preprocessor),
    ('knn', KNN())
])

#hyperparamètres à tester
knn['hyperparameters'] = {}
knn['hyperparameters']['knn__n_neighbors'] = [1, 3, 5, 7, 9]
knn['hyperparameters']['knn__weights'] = ['uniform', 'distance']

#grid search
knn['grid_search'] = GridSearchCV(estimator=knn['pipeline'],
                                  param_grid=knn['hyperparameters'],
                                  cv=5,
                                  scoring='accuracy')    

knn['grid_search'].fit(X, y)

knn['grid_search'].best_params_  

knn['grid_search'].best_score_                   


# cross_val_score(knn_pipe, X, y, cv=5, scoring='accuracy').mean()
 
# knn_pipe.fit(X, y)

# pred_knn = knn_pipe.predict(X)

# # % de bonne prédiction
# accuracy_score(y, pred_knn)

np.float64(0.7228234260247316)

In [24]:
#RIDGE




#grid search pour trouver les meilleurs hyperparamètres

ridge = {}

ridge['pipeline'] = Pipeline([
    ('prepocessing', preprocessor),
    ('ridge', RidgeClassifier())
])

#hyperparamètres à tester
ridge['hyperparameters'] = {}
ridge['hyperparameters']['ridge__alpha'] = [5, 5.1, 5.2]


#grid search
ridge['grid_search'] = GridSearchCV(estimator=ridge['pipeline'],
                                  param_grid=ridge['hyperparameters'],
                                  cv=5,
                                  scoring='accuracy')    

ridge['grid_search'].fit(X, y)

ridge['grid_search'].best_params_  

ridge['grid_search'].best_score_

np.float64(0.8260435628648548)

In [46]:
#RANDOM FOREST


#grid search pour trouver les meilleurs hyperparamètres
rf = {}

rf['pipeline'] = Pipeline([
    ('prepocessing', preprocessor),
    ('rf', RandomForestClassifier())
])



#hyperparamètres à tester
rf['hyperparameters'] = {}
rf['hyperparameters']['rf__n_estimators'] = [300, 400, 500]
rf['hyperparameters']['rf__max_depth'] = [40]
rf['hyperparameters']['rf__min_samples_split'] = [2, 3, 4]




#grid search
rf['grid_search'] = GridSearchCV(estimator=rf['pipeline'],
                                  param_grid=rf['hyperparameters'],
                                  cv=5,
                                  scoring='accuracy')    

rf['grid_search'].fit(X, y)

#score
rf['grid_search'].best_score_

np.float64(0.8282719226664993)

In [47]:
#meilleur hyperparamètre du meilleur modèle
rf['grid_search'].best_params_

{'rf__max_depth': 40, 'rf__min_samples_split': 2, 'rf__n_estimators': 400}

In [49]:
#Pipeline final avec le meilleur modèle et les meilleurs hyperparamètres
pipeline_final = make_pipeline(preprocessor, RandomForestClassifier(n_estimators=400, max_depth=40, min_samples_split=2))


#on le fit sur les données d'entrainement
pipeline_final.fit(X, y)

#on prédit sur les données de test
pipeline_final.predict(df_test)

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1])